/***************************************************/
/*********FEUILLE DE STYLE - PAGE D'ACCUEIL*********/
/***************************************************/

/*******************************/
/************Loader*************/
/*******************************/
body :not(.chargement) 
{
    animation: opacite 2.5s;
    -webkit-animation :opacite 2.5s ;
    -o-animation: opacite 2.5s ;
    animation-name : opacite ;          
}

.chargement
{ 
    border-right :10px solid #FF79DA;  
    border-top : 10px solid #FF79DA;
    border-bottom : 10px solid #9356DC;
    border-left : 10px solid #9356DC;
    border-radius: 50%;
    width:100px;
    height:100px;

    -webkit-animation :spin 3s linear forwards;
    -o-animation: spin 3s linear forwards ;
    animation: spin 3s linear forwards   ;
    animation-duration: 3s;

    margin: auto;
    position: absolute;
    top:0;left:0; right:0;bottom:0;    
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    100%
    {
        transform: rotate(360deg);
        visibility: hidden;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    100%
    {
        transform: rotate(360deg);
        visibility: hidden;
    }
}

@-webkit-keyframes opacite {
    0% {opacity:0;}
    99% {opacity:0;}
    100% {opacity:1;}
}

@keyframes opacite {
    0% {opacity:0;}
    99% {opacity:0;}
    100% {opacity:1;}
}

/***********************************/
/************Fin Loader*************/
/***********************************/

/****Page****/
body
{
	background:white;
    font-family: 'Roboto', sans-serif;
    font-family: 'Shrikhand', cursive;
    font-family: 'Roboto', sans-serif;
    margin: 5px;
}

/****En-Tête Page***/
.logo 
{
    Display: block;
    margin-left: auto;
    margin-right: auto ;
    margin-top: 30px;
    padding-bottom: 20px;
}

/****Section "Localisation"****/
.bloc0
{
    display: flex;
    background-color: rgb(221, 221, 221);
    justify-content: center;
    align-items: center; 
}

.bloc0 p
{
    font-weight: bold;
}

.fa-map-marker-alt
{
    margin-right: 20px;
}

.bloc1
{
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: rgb(248, 246, 246) ;  
}

.bloc1 h1
{
    font-size: xx-large;
}

.bloc1 > * 
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size:  x-large;
}

.explorer
{
    border-style: none;
    border-radius: 30px;
    background-color: #FF79DA;
    text-decoration: none;
    padding: 15px;
    margin: 0 auto;
    background: linear-gradient(180deg, #FF79DA, #9356DC);
    color: white;
    font-size: medium;
    box-shadow: 0px 0 5px 1px #e0e0e0;
}

.explorer:hover
{
    background: linear-gradient(180deg, #fd9be1, #9e6dda);
    box-shadow: 3px 3px 6px #b8b7b7;
}

/****Section "Fonctionnement"****/
.bloc2
{
    margin-bottom: 20px;    
}

.bloc2 h1
{
    text-align: center;
    font-size: xx-large;
}

.menu 
{
    width:100%;
    font-family: 'Roboto', sans-serif;
}

.choix 
{ 
    counter-reset: item;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin-left: -20px;
}
  
.choix li 
{
    width: 310px;
}

.choix li a 
{
    display: block;
    margin: 15px 0;
    box-shadow: 0px 0 5px 1px #e0e0e0;
    border-radius:15px;
    background-color:#f6f6f6;
    padding:10px;
    margin-left:20px;
    line-height: 50px;
    color:#000;
    text-decoration:none;
    font-size:16px;
    font-weight: bold;
}
  
.choix li a:before 
{ 
    display: inline-block;
    content: counter(item) "  "; 
    counter-increment: item;
    margin: 0 15px 0 -21px;
    background-color:#9966cc;
    border-radius:50%;
    width:20px;
    height:20px;  
    text-align:center;
    color:#fff;
    line-height: 20px;
    font-size: 12px;
}
  
.choix li a .fas 
{
    margin-right:15px;
    font-size:18px;
    color:#808080;
}
  
.choix li a:hover 
{
    background-color:#f5edff;
    box-shadow: 3px 3px 6px #b8b7b7;
}
  
.choix li a:hover .fas
{
    color:#9966cc;
}
  
/****Section "Restaurants"****/
.bloc3
{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(248, 246, 246); 
    margin-bottom: 0;
}

.bloc3 h1
{ 
    margin-top: 0;
    text-align: center;
    font-size:  xx-large;
}

.restaurants
{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-right: 20px;
}

.image
{    
    border-radius: 20px 20px 0 0;
    object-fit: cover; 
}

.img_new
{
   position: relative;
}

.img
{
    z-index: 1;
}

.new
{
    background-color: #99E2D0;
    position: absolute;
    z-index: 2;
    top: 15px;
    margin-left: 250px;
    width: 80px;
    text-align: center;
    line-height: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: teal;
    border-radius: 2px;
}

.description
{
    display: flex;
    background-color: white;
    border-radius: 0 0 20px 20px;
    margin-top: -3px;
}

.titres
{
    width: 85%;
    padding-left: 10px;
}

.titre_image
{
    font-weight: 900;
    font-size: large;
    margin-bottom: 0;
}

.soustitre_image
{
    margin-top: 5px;
}

.coeur
{
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
    height: max-content;
}

.coeur :hover
{ 
    font-weight: 900;
    background: linear-gradient(45deg, #FF79DA, #9356DC);
    -webkit-background-clip: text;
    color: transparent;
    transform: scale(1.09);
    transition: all 450ms; 
    padding-top: 2px;
    padding-bottom: 2px; 
}

/****Footer****/
footer
{
    background-color: rgb(51, 50, 50);
    color: white;
    height: 150px;
}

.liens_footer
{
    display: inline-flex;
    width: 100%;
    height: inherit;
    align-items: center;
}

.liens
{ 
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 10px;
}

.liens li
{
    list-style: none;
    text-decoration: none;
    margin-bottom: 10px; 
    font-size: large;
}

.liens li i
{
    margin-right: 12px;
}

.liens li a
{
    color: #fff;
    text-decoration: none;
}  

.liens_footer h3
{
    font-family: 'Shrikhand', cursive;
    font-weight: normal;
    margin-left: 50px;
    font-size: x-large
}


/***************************************************************/
/**************************MEDIA QUERIES************************/
/***************************************************************/


@media screen and (min-width: 1000px) and (max-width: 1560px)
{
    /****Section "Restaurants"****/
    .restaurants 
    {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
        margin-left: 20px;
        margin-right: 20px;        
    }
}


@media screen and (min-width: 420px) and (max-width: 1000px)
{
    /****En-Tête Page***/
    .logo 
    {
        width: 50%;
        height: auto;
    }  

    /****Section "Fonctionnement"****/
    .choix 
    {
        display: flex;
        list-style: none;
        padding: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        flex-direction: column;
        align-items: center;    
    }

    /****Footer****/
   .liens_footer, .liens
    {       
        display: block;
    }

    .liens
    {
        width: auto;
        padding-top: 0px;
    }

    footer
    {
        background-color: rgb(51, 50, 50);
        color: white;
        height: 200px;
        margin-top: -20px; 
        padding-bottom: 20px;       
    }

    .liens li
    {
        list-style: none;
        text-decoration: none;
        margin-left:-10px;
        margin-bottom: 10px;  
        font-size: medium; 
    }

    .liens li i
    {
        margin-right: 12px;
    }

    .liens li a
    {
        color: #fff;
        text-decoration: none;
    }  

    .liens_footer h3
    {
        font-family: 'Shrikhand', cursive;
        font-weight: normal;
        margin-left: 30px;
        padding-top: 20px;
        font-size: large;
    }
}


@media only screen and (max-width: 420px)
{

    /****En-Tête Page***/
    .logo 
    {
        width: 50%;
        height: auto;
    } 
    
    /****Section "Localisation"****/
    .bloc1 h1
    {
        font-size: x-large;
    }

    .bloc1 p 
    {
        font-size: medium;
    }

    .recherche
    {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    /****Section "Fonctionnement"****/
    .bloc2 h1
    {
        font-size: x-large;  
        text-align: left;
        margin-left: 20px;
        margin-bottom: 0px;
        margin-top: 40px;
    }

    .choix 
    {
        display: flex;
        list-style: none;
        padding: 0;
        padding-bottom: 20px;
        flex-direction: column;
        align-items: center;    
    }

    /****Section "Restaurants"****/
    .image
    {    
        width: 280px;
        height: 170px;
    }   

    .new
    {
        margin-left: 180px;
    }

    .bloc3 h1
    {
        font-size: x-large;  
        text-align: left;
        margin-left: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    /****Footer****/
    .liens_footer, .liens
    {       
        display: block;
    }

    .liens
    {
        width: auto;
        padding-top: 0px;
    }

    footer
    {
        background-color: rgb(51, 50, 50);
        color: white;
        height: 200px;
        margin-top: -20px; 
        padding-bottom: 20px;       
    }

    .liens li
    {
        list-style: none;
        text-decoration: none;
        margin-left:-10px;
        margin-bottom: 10px;  
        font-size: medium; 
    }

    .liens li i
    {
        margin-right: 12px;
    }

    .liens li a
    {
        color: #fff;
        text-decoration: none;
    }  

    .liens_footer h3
    {
        font-family: 'Shrikhand', cursive;
        font-weight: normal;
        margin-left: 30px;
        padding-top: 20px;
        font-size: large;
    }

}


       




