

/********************************************/
/*********FEUILLE DE STYLE - GENERAL*********/
/********************************************/

/****Page****/
body
{
	background:white;
    font-family: 'Roboto', sans-serif;
    font-family: 'Shrikhand', cursive;
    font-family: 'Roboto', sans-serif;
    margin: 5px;
}

/****En-Tête Page***/

header
{
    display: flex;
    align-items: center;
    
}
.fa-arrow-left
{
    /*background-color: lawngreen;*/
    margin-left: 30px;
    color: black;
    text-decoration: none;
}

.logo 
{
    align-items: center;
    margin-left: auto;
    margin-right: auto ;
    margin-top: 30px;
    margin-bottom: 30px;
    /*padding-bottom: 20px;*/
}

.illustration
{
    background-color: lightcoral;
    width: auto;
    height:300px;
}

.image
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.entete_menu
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.entete_menu i 
{
    margin-left: 20px;
    cursor: pointer;
} 

.fa-heart:hover
{ 
    font-weight: 900;
    background:  linear-gradient( #FF79DA,#9356DC);    
    /*background-clip: text;*/
    color: transparent;
    -webkit-background-clip: text;
    /*color: transparent;*/
    /*-webkit-text-fill-color: transparent;*/
    transform: scale(1.1);
    transition: all 450ms; 
    padding-top: 2px;
    padding-bottom: 2px; 
}


.titre_menu
{
    font-family: 'Shrikhand', cursive;
    font-size: xx-large;
    font-weight: normal;
    text-align: center;
}
.entrees , .plats, .desserts
{
    /*display: flex;*/
    /*background-color: green;*/
    margin-bottom: 30px;  
    
}

/*.type_menu 
{
    border-bottom: solid #99E2D0;
    width: 50%;
    height: fit-content;
}*/

.type_menu
{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.type_menu::after 
{
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    /*margin: 0 auto; /* This will center the border. */
    width: 100%; /* Change this to whatever width you want. */
    padding-top: 10px; /* This creates some space between the element and the border. */
    border-bottom: solid #99E2D0; /* This creates the border. Replace black with whatever color you want. */
}

.menu
{
    background-color: #F2F2F2 ;
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}


.desc_menu
{
    /*margin-left: 30px;*/
    flex-wrap: wrap;
    /*background-color: red;*/
    /*border-radius: 15px;*/
    /*justify-content: stretch;*/
}

.desc_menu a
{
    text-decoration: none;
    color: black;
}

.carte
{
    display: flex;
    background-color: white;
    width: 350px;
    margin-bottom: 20px;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 7px 7px  #e2e2e2;
}

.carte:hover
{
    cursor: pointer;

   /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
}

.texte_menu
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.t1, .t2
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
    
/*.carte:hover::after
{
    content:"\f058";
    font-family: "Font Awesome 5 Free";
    font-size: x-large;
    font-weight: 900;
    color: white;
    text-align: center;
    background-color: #99E2D0;
    width: 30%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-right: -20px;
    margin-left: 10px;

    padding: 35px 10px 10px 10px;
   
    animation-duration: 1s;
    animation-name: slidein; 
}*/

.selection
{
    display: inline-flex;
    visibility: hidden;
    width: auto;
    height: auto;
    margin-right: -20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px; 
  
}
.selection i 
{
    margin:auto;
    font-size: x-large;
    font-weight: 900;
    color: white;
    overflow: hidden; 
}

.carte .selection
{
    visibility: visible;
    animation-name: slideout;
    animation-duration: 1s;
    background-color: #99E2D0;
    width: 0%;
    margin-left: 0px;
}

.carte:hover .selection
{
    /*transition: all 1s ease-out;*/
    visibility: visible;
    background-color: #99E2D0;
    width: 30%;
    animation-duration: 1s;
    animation-name: slidein;
    margin-left: 10px;
}



@keyframes slidein {
    from {
      width: 0%;
    }  
    to {    
      width: 30%;
    }
}

  
@-webkit-keyframes slidein {
    from {
        width: 0%;
      }  
      to {    
        width: 30%;
      }
}


@keyframes slideout {
    from {
      width: 30%;
    }  
    to {        
      width: 0%;
      visibility: hidden;
    }
}

  
@-webkit-keyframes slideout {
    from {
        width: 30%;
      }  
      to {    
        width: 0%;
        visibility: hidden;
      }
}

/*@keyframes slideout {
 0% {visibility: hidden; }
}
  
@-webkit-keyframes slideout {
 0%  { visibility: hidden; }
}*/

/*.selection:hover::after
{
    content:"\f058";
    font-family: "Font Awesome 5 Free";
    font-size: x-large;
    font-weight: 900;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
}*/

.carte:hover i
{
    -webkit-animation:spin1 0.5s linear ;
    -moz-animation:spin1 0.5s linear ;
    animation:spin1 0.5s linear ;
}

@-moz-keyframes spin1 { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin1 { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin1 { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/******************************************************************************/
/*******************Apparition différée des plats (cartes)*********************/
/******************************************************************************/

.carte1 {
    
    /*opacity: 0;*/
    animation: fadeIn 1s ease-in both;
    animation-delay: 0.5s;
    /*animation: fadein ease 2s;
    -moz-animation: fadein ease 2s; 
    -webkit-animation: fadein ease 2s; 
    -o-animation: fadein ease 2s;*/

}

.carte2 {
    /*opacity: 0;*/
    animation: fadeIn 1s ease-in both;
    animation-delay: 1s;
    
    /*animation: fadein ease 4s;
    -moz-animation: fadein ease 4s; 
    -webkit-animation: fadein ease 4s;
    -o-animation: fadein ease 4s;*/
}

.carte3 {
    
    /*opacity: 0;*/
    animation: fadeIn 1s ease-in both;
    animation-delay: 1.5s;
    /*animation: fadein ease 6s;
    -moz-animation: fadein ease 6s; 
    -webkit-animation: fadein ease 6s; 
    -o-animation: fadein ease 6s;*/
}



@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, 10%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}



/*@-moz-keyframes fadein { 
    from {
        opacity:0;
        transform: translate3d(0, 10%, 0);
    }
    to {
        opacity:1;
        transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes fadein { 
    from {
        opacity:0;
        transform: translate3d(0, 10%, 0);
    }
    to {
        opacity:1;
        transform: translate3d(0, 0, 0);
    }
}

@-o-keyframes fadein { 
    from {
        opacity:0;
        transform: translate3d(0, 10%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}*/

/*********************************************************************/
/***************Fin Apparition différée des plats*********************/
/*********************************************************************/

.texte_menu
{
    /*background-color: mediumblue;*/
    width: 100%;
}

.t1
{
    font-weight: bold;
    font-size: large;
}



.tarif
{
    /*background-color: lightpink;*/
    position: relative;
    margin-top: auto;
    font-weight: bold;
    margin-right: 10px;
}


.commande
{
    background-color: #F2F2F2 ;
    display: flex;
    padding-top: 30px;
    padding-bottom: 50px;

}

.commander
{
    border-style: none;
    border-radius: 30px;
    background-color: #FF79DA;
    text-decoration: none;
    padding: 15px;
    margin: 0 auto;
    background: linear-gradient(to right, #FF79DA,#9356DC);
    color: white;
    font-size: medium;
    width: 150px;
    text-align: center;
    box-shadow: 0px 0 5px 1px #e0e0e0;
}

.commander:hover
{
    background: linear-gradient(to right, #fd9be1,#9e6dda);
    box-shadow: 3px 3px 6px #b8b7b7;
}




/****Footer****/

footer
{
    background-color: rgb(51, 50, 50);
    color: white;
    height: 150px;
}

.liens_footer
{
    display: inline-flex;
    width: 100%;
    height: inherit;
    align-items: center;
}

.liens
{ 
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 10px;
}

.liens li
{
    list-style: none;
    text-decoration: none;
    margin-bottom: 10px; 
    font-size: large;
}

.liens li i
{
    margin-right: 12px;
}


.liens li a
{
    color: #fff;
    text-decoration: none;
}  

.liens_footer h3
{
    font-family: 'Shrikhand', cursive;
    font-weight: normal;
    margin-left: 50px;
    font-size: x-large;   
}

/***************************************************************/
/**************************MEDIA QUERY**************************/
/***************************************************************/


@media screen and (min-width: 900px) and (max-width: 1220px)
{

    .menu
    {
        display: block;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .carte
    {
        margin-left: auto;
        margin-right: auto;
    }

    .entrees, .plats, .desserts
    {
        margin-bottom: 30px;
        width: min-content;
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (min-width: 420px) and (max-width: 900px)
{

    .logo 
    {
        width: 50%;
        height: auto;
    }


    .entete_menu
    {
        background-color: #F2F2F2 ;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        position: relative;
        top: -30px;
        margin-bottom: -30px;
    }

    .menu
    {
        display: block;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .carte
    {
        margin-left: auto;
        margin-right: auto;
    }

    .entrees, .plats, .desserts
    {
        margin-bottom: 30px;
        width: min-content;
        margin-left: auto;
        margin-right: auto;

    }  

    /****Footer****/
   .liens_footer, .liens
    {       
        display: block;
    }

    .liens
    {
        width: auto;
        padding-top: 0px;
    }

    footer
    {
        background-color: rgb(51, 50, 50);
        color: white;
        height: 200px;
        margin-top: -20px; 
        padding-bottom: 20px;       
    }

    .liens li
    {
        list-style: none;
        text-decoration: none;
        margin-left:-10px;
        margin-bottom: 10px;   
    }

    .liens li i
    {
        margin-right: 12px;
    }


    .liens li a
    {
        color: #fff;
        text-decoration: none;
    }  

        .liens_footer h3
    {
        font-family: 'Shrikhand', cursive;
        font-weight: normal;
        margin-left: 30px;
        padding-top: 20px;
    }

}
    
@media only screen and (max-width: 420px)
{
    .logo 
    {
        width: 50%;
        height: auto;
    }    

    .fa-arrow-left
    {
        font-size: 1.33em;
    }

    .entete_menu
    {
        background-color: #F2F2F2 ;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        position: relative;
        top: -30px;
        margin-bottom: -30px;
    }

    .type_menu
    {
        text-align: left;
        font-size: medium;
        font-weight: normal;
    }

    .type_menu::after 
    {
        content: ""; 
        display: block; 
        width: 10%; 
        padding-top: 10px; 
        border-bottom: solid #99E2D0;
    }

    .titre_menu
    {
        font-family: 'Shrikhand', cursive;
        font-size: x-large;
        font-weight: normal;
        text-align: left;
    }

    .menu
    {
        display: block;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .carte
    {
        margin-left: auto;
        margin-right: auto;
        width: 250px;
    }
    
    .entrees, .plats, .desserts
    {
        margin-bottom: 30px;
        width: min-content;
        margin-left: auto;
        margin-right: auto;
    }
    
    .texte_menu
    {
        margin-left: -10px;
    }

    .t1
    {
        font-size: medium;
    }
    
    .t2
    {
        font-size: small;
    }

    .tarif
    {
        font-size: small;
    }

    /****Footer****/
   .liens_footer, .liens
   {       
       display: block;
   }

   .liens
   {
       width: auto;
       padding-top: 0px;
   }

   footer
   {
       background-color: rgb(51, 50, 50);
       color: white;
       height: 200px;
       margin-top: -20px; 
       padding-bottom: 20px;       
   }

   .liens li
   {
       list-style: none;
       text-decoration: none;
       margin-left:-10px;
       margin-bottom: 10px;  
       font-size: medium; 
   }

   .liens li i
   {
       margin-right: 12px;
   }


   .liens li a
   {
       color: #fff;
       text-decoration: none;
   }  

    .liens_footer h3
   {
       font-family: 'Shrikhand', cursive;
       font-weight: normal;
       margin-left: 30px;
       padding-top: 20px;
       font-size: large;
   }
    

}





       




